{% extends 'base.html' %}
{% block content %}
<h2>Gráficos de ventas</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col"><div class="card"><div class="card-header">Total de ventas por unidad (USD)</div><div class="card-body"><img src="data:image/png;base64,{{ barh_img }}" class="img-fluid" /></div></div></div>
  <div class="col"><div class="card"><div class="card-header">Unidades vendidas por producto</div><div class="card-body"><img src="data:image/png;base64,{{ hist_img }}" class="img-fluid" /></div></div></div>
  <div class="col"><div class="card"><div class="card-header">Participación por producto (TOP 5)</div><div class="card-body"><img src="data:image/png;base64,{{ pie_img }}" class="img-fluid" /></div></div></div>
  <div class="col"><div class="card"><div class="card-header">Tendencia de ventas por producto</div><div class="card-body"><img src="data:image/png;base64,{{ line_img }}" class="img-fluid" /></div></div></div>
</div>
{% endblock %}
