{% extends 'base.html' %}
{% block title %}Ventas{% endblock %}
{% block content %}
<h2>Listado de Ventas</h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr><th>ID</th><th>Fecha</th><th>Cliente</th><th>Producto</th><th>Cantidad</th><th>Precio</th></tr>
    </thead>
    <tbody>
    {% for v in ventas %}
        <tr>
            <td>{{ v[0] }}</td>
            <td>{{ v[1] }}</td>
            <td>{{ v[2] }}</td>
            <td>{{ v[3] }}</td>
            <td>{{ v[4] }}</td>
            <td>${{ "%.2f"|format(v[5]) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
